body {
  padding: 0;
  margin: 0;
}

/* Main Navigation bar */
.main-nav {
  background-color: black;
  padding: 12px;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
  font-size: 0;
}

.main-nav__item {
  display: inline-block;
  border: 1px solid white;
  margin-left: 20px;
}

.main-nav__link {
  font-size: 16px;
  text-decoration: none;
  padding: 8px 16px;
  color: white;
}

/* Card */

.card {
  display: inline-block;
  width: 180px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: grey;
  margin: 20px;
  padding: 4px;
}

.card__img {
  width: 100%;
}

.card__title {
  color: white;
}

.card__price {
  color: white;
}

.card__desc {
  color: white;
}

.card__btn--success {
  background-color: green;
  color: white;
}

.card__btn--info {
  background-color: blue;
  color: white;
}

.card--active {
  box-shadow: 20px 20px green;
  border: 2px solid darkgreen;
}

/* For SASS */

/* 
.card {
  color: white;

  &__btn {
    border: 1px solid red;

    &--success {
      background-color: green;
    }

    &--info {
      background-color: blue;
    }
  }
} */
