body {
  padding: 0;
  margin: 0;
}

.card {
  background-color: aqua;
  width: 18rem;
  display: inline-block;
}

/* For SASS */

/* 
.card {
  color: white;

  &__btn {
    border: 1px solid red;

    &--success {
      background-color: green;
    }

    &--info {
      background-color: blue;
    }
  }
} */
